.header{
  color: blue;
  font-size: 100px;
}

.main-page {
  max-width: 680px;
  margin: 0 auto;
  width: 100%;
}


.card-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}


.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.counter-label{
  font-size: 50px;
}
.action-button{
  border: none;
  padding: 10px 30px;
  background-color: rgb(100, 214, 43);
  font-size: 15px;
  font-weight: 600;
  border-radius: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.action-btn{
  border: none;
  padding: 10px 30px;
  background-color: rgb(164, 8, 8);
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.action-btn:hover, .action-button:hover{
  background-color: rgb(209, 234, 234);
  color: black;
  scale: 1.07;
  transition: 0.08s ;
}

form{
  display:flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
 
}

input{
  width: 500px;
  border: none;
  margin: 0 auto;
  border-bottom: 1px solid black;
  padding: 10px;
  outline-style: none;
}

button{
  width: 300px;
  margin: 20px auto;
  padding: 10px;
  font-weight: 600;
  background-color: rgb(56, 42, 245);
  color: aliceblue;
  border: none;
  border-radius: 20px;
}

.head-hover{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aqua;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.cars{
  background-color: rgb(138, 227, 6);
  max-width: 20%;
  padding: 20px 10px;
  text-align: center;
  font-weight: 600;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}